.section {
  padding: 50px 0;
}

form {
  margin-top: 2rem;
  margin-left: 2.5rem;
  display: flex;
  gap: 1rem;

  button {
    background-color: blue;
    color: white;
    border-radius: 0.5rem;
    padding: 12px;
    cursor: pointer;
  }
}

ul {
  list-style: disc;
  margin-left: 3.5rem;
  margin-top: 1rem;

  li {
    display: flex;
    align-items: center;
  }

  button {
    background-color: red;
    color: white;
    border-radius: 0.5rem;
    padding: 10px;
    margin-left: auto;
    margin-top: 1rem;
    cursor: pointer;
  }

}

/* .listItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;

} */