.section {
  padding: 50px 0;
}

form {
  margin-top: 2rem;
  margin-left: 2.5rem;
  display: flex;
  gap: 1rem;

  button {
    background-color: blue;
    color: white;
    border-radius: 0.5rem;
    padding: 12px;
    cursor: pointer;
  }
}

ul {
  list-style: disc;
  margin-left: 3.5rem;
  margin-top: 1rem;
}